<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Practice Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="products.js" defer></script>
</head>

<body>
  <h1>Hello from HTML!</h1>
  <div id="app">
    {{ message }}

    <hr>

    <!-- <button v-on:click="allProducts">Products Index</button> -->
    <ul>
      <li v-for="product in products">
        {{ product.id }}
        {{ product.name }}
        <button v-on:click="updateProduct">Update Product</button>
        <button v-on:click="deleteProduct">Delete Product</button>
      </li>
    </ul>
    <button v-on:click="createProduct">Add New Product</button>
    <p><input type="text" v-model="name"></p>
    <p><input type="text" v-model="description"></p>
    <p><input type="text" v-model="imageUrl"></p>
    <p><input type="text" v-model="price"></p>
  </div>
</body>

</html>